#taskListForm {
    margin-bottom: 20px;
    margin-bottom: 2.5em;

    p {
        font-family: CaslonPro;
        text-transform: uppercase;
        font-size: 80%;
        font-weight: 100;
        color: $off-black-color;
        margin-bottom: 0;
        margin-top: 1.5em;
    }
    
    .generalInput {
        font-family: WalkwayUltraBold;
        font-size: 110%;
        border-width: 0;
        border-radius: 5px;
        background-color: rgba($primary-color, .6);
        height: 35px;
        padding-left: 0.5em;

        position: relative;
        top: 4px;

        box-shadow: 0px 4px darken($primary-color, 20%) inset;
    }

    // Add post form
    #task {
        @extend .generalInput;
        width: 90%;
        color: darken($primary-color, 35%);
    }

    #deadline {
        @extend .generalInput;
        max-width: 50%;
        color: darken($primary-color, 35%);
        float: left;
    }

    // Update form
    #task_update {
        @extend #task;
    }

    #deadline_update {
        @extend #deadline;
    }

    #id_no {
        display: none;
    }

    // Buttons
    #add {
        clear: right;
        font-family: Arial, Helvetica, sans-serif;
        color: $off-white-color;
        padding: 0 8px 0 8px;
        font-weight: bold;
        height: 35px;
        border-radius: 5px;
        background: $secondary-color;
        border: 0;
        margin-left: 1em;
    
        position: relative;
        top: -18px;

        box-shadow: 0px 4px darken($secondary-color, 20%);
    }

    #add:hover {
        cursor: pointer;
    }
    
    #update {
        @extend #add;
    }

    #cancel {
        @extend #add;
        background-color: lighten($off-black-color, 20%);
        box-shadow: 0px 4px $off-black-color;
    }
}